<%- include('../partials/header')%>


<div class="form-container space">
    <h1>Flight Details</h1>
    <p>Airline: <%= flight.airline %> </p>
    <p>Airport: <%= flight.airport %> </p>
    <p>Flight Number: <%= flight.flightNo %> </p>
    <p>Departure Date: <%= flight.departs %> </p>
    
    <div class = 'destinations'>
        <hr>
        <% if (flight.destinations.length) { %>
            <% flight.destinations.forEach(function(r) { %>
            <p>Destination:</p>
                <p>Airport: <%= r.airport %></p>
                <p>Arrival: <%= r.arrival %></p>
                            
                <% }); %>
             
          <% } else { %>
            <h5>No Destinations Yet</h5>
          <% } %>
        <hr>
    </div>
    <% if (flight.tickets.length) { %>
        <% flight.tickets.forEach(function(t) { %>
            <p>Ticket</p>
            <p>Seat #: <%= t.seat %></p>
            <p>price: $<%= t.price %></p>

            <% }); %>
            <% } %>
            
    <div class='des-add-container'>
        <p>Add new Destination</p>
       
    <form action="/<%= flight._id %>" method="post" autocomplete="off">
        <input class='des-add' type="text" name = "airport" placeholder="Airport"> 
        <input class='des-add' type="date" name = "arrival" placeholder="Arrival Date">
        <input class='des-add' type="submit">
    </form>
</div>
<a href="/<%= flight._id %>/newTicket">Create New Ticket</a>
</div>

<%- include('../partials/footer')%>
