<%- include('../partials/header')%>

<div class="form-container space">
    <h1>Flight Details</h1>
    <h3>Airline: <%= flight.airline %> </h3>
    <h3>Airport: <%= flight.airport %> </h3>
    <h3>Flight Number: <%= flight.flightNo %> </h3>
    <h3>Departure Date: <%= flight.departs %> </h3>
    <div class = 'destinations'>
       
        <% if (flight.destinations.length) { %>
            <% flight.destinations.forEach(function(r) { %>
            <h4>Destination</h4>
                <h4>Airport</h4>
                <td><%= r.airport %></td>
                <h4>Arrival</h4>
                <td><%= r.arrival %></td>
             
                <% }); %>
             
          <% } else { %>
            <h5>No Destinations Yet</h5>
          <% } %>
    </div>
    <div class='des-add-container'>
        <h3>Add new Destination</h3>
       
    <form action="/<%= flight._id %>" method="post" autocomplete="off">
        <input class='des-add' type="text" name = "airport" placeholder="Airport"> 
        <input class='des-add' type="date" name = "arrival" placeholder="Arrival Date">
        <input class='des-add' type="submit">
    </form>
</div>
<a href="/<%= flight._id %>/newTicket">Create New Ticket</a>
</div>

<%- include('../partials/footer')%>
